
#container{
    border: 1px solid rgb(82, 217, 229);
    padding: 2rem;
    color: #664df6;


}

body { 
    background: rgb(39, 39, 39); 
    /* color: #d97eee; */
    text-align: center;
} 

#cabecera{
    background-color: #553a556f;
    font-weight: bold;
    margin: 0;
    padding: 1rem;
    color: rgb(82, 217, 229);
    display: flex;
    justify-content: space-between;
}



h1 {
    /* position: absolute;  */
    top: 40%; 
    left: 40%; 
    font-size: 40px; 
    font-family: Arial, Helvetica, sans-serif; 
    background: linear-gradient( to right, #05f411, #1ee359, #cf23cf, #03fd42); 
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text;
}